@font-face {
	font-family: 'font';
	src: url('font.ttf') format('truetype');
	font-weight: lighter;
	font-style: normal;
}

::-webkit-scrollbar {
	display: none;
}

* {
	font-family: 'font', sans-serif;
	scrollbar-width: none;
	-ms-overflow-style: none;
	user-select: none;
}

.toast {
	position: fixed;
	top: .5rem;
	right: .5rem;
	max-width: 80%;
	height: fit-content;
	padding: .5rem;
	border-radius: .4rem;
	box-shadow: -.1rem .1rem 1rem rgba(0, 0, 0, .3);
	z-index: 1023;
	animation: .3s ease-in-out forwards slideInRight, .5s ease-in-out 3s forwards fadeOut;
	transform: translateX(110%);
}

.toast.closing {
	animation: .5s ease-in-out forwards slideOutRight
}

.toast-progress {
	position: absolute;
	display: block;
	bottom: 0;
	left: 0;
	height: .4rem;
	width: 100%;
	animation: 3s ease-in-out forwards toastProgress;
}

.toast-icon {
	padding: .35rem .5rem;
	font-size: 1.5rem;
}

.toast-message {
	flex: 1;
	font-size: .9rem;
	padding: .5rem;
}

.toast.toast-danger .toast-progress {
	background-color: var(--fallback-p, oklch(var(--p)/1));
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
}

@keyframes slideInRight {
	0% {
		transform: translateX(110%)
	}

	75% {
		transform: translateX(-10%)
	}

	100% {
		transform: translateX(0)
	}
}

@keyframes slideOutRight {
	0% {
		transform: translateX(0)
	}

	25% {
		transform: translateX(-10%)
	}

	100% {
		transform: translateX(110%)
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1
	}

	100% {
		opacity: 0
	}
}

@keyframes toastProgress {
	0% {
		width: 100%
	}

	100% {
		width: 0%
	}
}

.file-preview {
	cursor: pointer;
	max-width: 100%;
	max-height: 100%;
}

.file-preview:hover {
	opacity: 0.8;
}

.icon {
	width: 1.1em;
	height: auto;
	vertical-align: middle;
	margin-right: 0.5em;
	fill: currentColor;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	border-radius: 4px;
}

body {
	scroll-behavior: smooth;
}

#scroll-container {
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
}

.cursor-grab {
	cursor: grab;
}

.cursor-grabbing {
	cursor: grabbing;
}